.newpost{
  margin-right: 1.25rem;
  height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  border-radius: 1rem;
  outline: none;
  font-weight: bold;
  word-break: keep-all;
  background: #F8F9FA;
  border: 1px solid #212529;
  color: #212529;
  transition: all 0.125s ease-in 0s;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.newpost:hover{
  background-color: #212529;
  color: #F8F9FA;
}