div.nightmode{
  width: 24px;
  height: 24px;
  
  animation: nightmode .5s backwards;
  
}

@keyframes nightmode {
  from{
    transform: translateY(-50%) scale(0) rotate(-90deg);
  }
  to{
    transform: translateY(-50%) scale(1) rotate(0deg);
  }
}



