[data-component="Tranding"]{
  width: 48%;
  height: 100%;
  margin: 0px;
  display: inline-block;
  color: gray;
  text-align: center;

}

[data-component="Recent"]{
  
  width: 48%;
  height: 100%;
  margin: 0px;
  display: inline-block;
  color: gray;
  text-align: center;

}

div.tap{
  align-items: center;
}

div.tap > *{
  display: inline-block;
  cursor: pointer;
  height: 40px;
  font-weight: bold;
}

[data-component="Submenu"]{
  float:right;
  
}
.submenu{
  position: relative;
  top: 50%;
}

div.filter{
  position: relative;
  top: 30%;
  transform: translateY(-30%);
  border: 1px solid whitesmoke;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  padding: 6px 15px;
  transform: scale(0.8);
  
}
div.filter>svg{
  margin-left: 5px;
  transform: scale(1.2);
}

@keyframes rightUnderLine {
  from{
    left:0%;
  }
  to{
    left:50%;
  }
}

@keyframes leftUnderLine {
  from{
    left:50%;
  }
  to{
    left:0%;
  }
}

div.underline{
  width: 50%;
  height: 2px;
  position: relative;
  bottom: 0px;
  background: black;
  left:0%
}

.selectTap{
  box-sizing: content-box;
  width: 10%;
  padding:10px;
}

 div.underline.left{
  animation: leftUnderLine 0.5s forwards;
}

div.underline.right{
  animation: rightUnderLine 0.5s forwards;
}
.selected{
  color: black;
}

.recent{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.tranding{
  position: relative;
  top: 50%;
  transform: translateY(-50%);

}

